
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        
        <h1><%=post.file%></h1>
    </div><%=post.url%>
    <hr>
    <!--<p class="muted">Share this</p>-->
</div>
