<div id="toolbox">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#style">Style</a>
        </li>
        <li><a href="#other">Other</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active form-inline" id="style">
            <div id="fontSelect" class="fontSelect">
                <div class="arrow-down"></div>
            </div>
            <div id="colorContainer">
                <div style="background-color:#1abc9c;"></div>
                <div style="background-color:#16a085;"></div>
                <div style="background-color:#f1c40f;"></div>
                <div style="background-color:#f39c12;"></div>
                <div style="background-color:#2ecc71;"></div>
                <div style="background-color:#27ae60;"></div>
                <div style="background-color:#e67e22;"></div>
                <div style="background-color:#d35400;"></div>
                <div style="background-color:#3498db;"></div>
                <div style="background-color:#2980b9;"></div>
                <div style="background-color:#e74c3c;"></div>
                <div style="background-color:#c0392b;"></div>
                <div style="background-color:#9b59b6;"></div>
                <div style="background-color:#8e44ad;"></div>
                <div style="background-color:#ecf0f1;"></div>
                <div style="background-color:#bdc3c7;"></div>
                <div style="background-color:#34495e;"></div>
                <div style="background-color:#2c3e50;"></div>
                <div style="background-color:#95a5a6;"></div>
                <div style="background-color:#7f8c8d;"></div>
            </div>
        </div>
        <div class="tab-pane" id="other">
            <form class="form-inline">
                <label class="control-label" for="blogTitle">Blog Title:</label>
                <input class="input-xlarge" type="text" id="blogTitle" placeholder="This is your blog title" value="{{=blog.title}}">
            </form>
        </div>
    </div>
</div> <span class="sidebarButton" id="settingsButton"><i class="icon-wrench"></i> Settings</span>
<span class="sidebarButton" id="saveButton"><i class="icon-hdd"></i> Save</span>
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <p class="muted">Posted on {{=post.time}}.</p>
        <h1>{{=post.title}}</h1>
    </div>{{=post.content}}
    <hr>
    <!--<p class="muted">Share this</p>-->
</div>
